.parrotsSection {
  width: 100vw;
  height: 90vh;
  background: #152B25; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0vw .5vh 2vh black inset;
  position: relative;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80vw;
  max-width: 800px;
  margin-bottom: 50vh;
  z-index: 10;
}

.miniTitle {
  font-size: 22px;
  font-weight: 700;
  color: white;
  align-self: flex-start;
  margin: 0;
}

.titleContainer {
  display: flex;
  margin: 0;
  justify-content: space-evenly;
  width: 100%;
}

.title {
  color: white;
  font-size: 50px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  line-height: 50%;
  margin: 10px 0 30px 0;
}

.titleAlt {
  color: #9FFFA9;
  font-size: 50px;
  font-weight: 700;
  margin-left: 20px;
}

.text {
  margin: 0;
  margin-top: 2vh;
  color: white;
}

.parrot {
  position: absolute;
  z-index: 100;
  width: 50%;
  margin-left: 10%;
  
}

@media(max-width: 1200px){
  .parrot{
    top: 72%;
    width: 46%;
  }
}

@media(max-width: 900px){
  .parrot{
    top: 72%;
    width: 55%;
  }
}

@media(max-width: 768px){
  .parrot{
    top: 69%;
    width: 60%;
  }
}

@media(max-width: 450px){
  .parrot{
    top: 75%;
    width: 70%;
  }
}

@media(max-width: 645px){
  .parrot{
    top: 70%;
    width: 60%;
  }
}

.float {
  width: 70%;
  height: 15%;
  background: #0A1412;
  position: absolute;
  bottom: 10%;
  border-radius: 5vh;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3% 0 3%;
  z-index: 10;
}

.floatTitle {
  font-size: 40px;
  font-weight: 700;
  color: white;
  display: flex;
  align-items: center;
  margin: 0;
  z-index: 10;
}

.floatTitleAlt {
  color: #9FFFA9;
  font-size: 40px;
  font-weight: 700;
  margin: 15px;
}

.floatMobile {
  width: 100%;
  background: #0A1412;
  height: 40%;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.leaf1 {
  position: absolute;
  left: 0;
  bottom: 50%;
  z-index: 2;
}

.leaf2 {
  position: absolute;
  right: 0;
  bottom: 30%;
  z-index: 2;
}

@media(max-width: 1200px) {
  .parrotsSection {
    height: 140vh;
  }
  .floatTitle {
    margin: 2vh 0 1vh 0;
  }
}

@media(min-width: 1200px) {
    .contentWrapper {
    margin-bottom: 10vh;
    align-items: center;
  }
}

@media(max-width: 450px) {
    .leaf1 {
    width: 30%;
  }
  .leaf2 {
    width: 30%;
  }
}

@media(max-width: 768px){
  .description{
    font-size: 15px;
  }
  .miniTitle {
    font-size: 16px;
  }
  .title {
    font-size: 40px;
    line-height: 100%;
  }
  .titleAlt {
    font-size: 40px;
    margin: auto 10px auto;
    padding: 0;
  }
  .text {
    font-size: 15px;
  }
  .floatTitle {
    font-size: 32px;
  }
  .floatTitleAlt {
    font-size: 32px;
  }
}

@media(max-width: 645px){
  .titleAlt {
    margin-left: 0;
  }
}